.ipynb_checkpoints/**/*
.vscode
__pycache__/
prompt_to_prompt/__pycache__/**/*
**/*/.pyc
store
**/*/.pt
*.pt
*.egg-info/
outputs/**/*.jpeg
outputs/**/*.txt
*.bat
Makefile
build/**/*
outputs/**/*
logs/**/*